@use "variables" as v;
@use "mixin" as m;
:root{
  --image-categorias: none;
  --colorLetra:#AFA9FF
  --color_segundario:  #9A92FF;
  --color_tercero: #7E71FF;
  --color_cuarto: #5B44FC;
  --color_fondo:#0B101A;
  --gradiente:linear-gradient(0deg, rgba(175,169,255,1) 0%, rgba(154,146,255,1) 14%, rgba(126,113,255,1) 52%, rgba(91,68,252,1) 100%);
  --bg_nav_movile:#011018;
  // --bg_nav_movile:#07092B;
  --color_nav_active:#d2df25;
  --color_nav_inactive:#b4b4b3;
  --color_fondo2:#1D1C24;
    // background-color: #131218;
}

// background-color: #1D1C24!important;
  // background-color: #06092A !important;
html {
  font-size: 62.5%;
  box-sizing: border-box;
} 

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

[class*="__contenedor"] {
  max-width: 143rem;
  width: 97.6%;
  margin: 0 auto;
  @include m.desktopFull {
    max-width: 162rem;
  }
}
[class*="__img"] {
  display: block;
  max-width: 100%;
  filter: contrast(117%) saturate(107%) brightness(104%);
}
body {
  width: 100%;
  font-size: 1.6rem;
  
  font-family:  "Poppins", sans-serif;
  // background: radial-gradient(circle at center, #002b24, #004d40, #003333);
  // background: radial-gradient(circle at center, #002b24, #004d40, #003333, #00574b);


  // background: radial-gradient(circle at center, #111828, #0B101A, #1a2330);
  // background: linear-gradient(90deg, #0a0f1e, #101c42, #162352);
  // background: linear-gradient(90deg, #1a2236, #2a4c85, #3a64a1, #2a4c85, #1a2236);
  // background: linear-gradient(90deg, #1e2940, #2b456d, #3b5b8c, #2b456d, #1e2940);

  // background: linear-gradient(90deg, #1c2538, #283e5e, #304d73, #283e5e, #1c2538);
  // background: linear-gradient(90deg, #1a2236, #203a65, #263f77);
  

  // background: linear-gradient(90deg, #192133, #171F30, #182031);

  // background: radial-gradient(circle, #192133, #171F30, #182031);
  background: linear-gradient(90deg, #1d2541, #1b2338, #20273b);


  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: blue #fff;



  // max-width: 100vw;
}
