@use "variables" as v;
@use "mixin" as m;
:root{
  --contentcardbefore:"hola";
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

[class*="__contenedor"] {
  max-width: 150rem;
  width: 95%;
  margin: 0 auto;
  @include m.desktopFull {
    max-width: 160rem;
  }
}
[class*="__img"] {
  display: block;
  max-width: 100%;
}
body {
  width: 100%;
  min-height: 100vh;
  font-family: v.$fuente_principal;
  font-size: 1.6rem;
  background: v.$color-primario;
  background-color: #0D1117;
}
