$fuente_principal: "Poppins", sans-serif;

$telefono: 400px;

$telefonoFull: 615px;
$tablet: 768px;
$tabletM: 915px;
$desktop: 1220px;

$color-card: #fff;
$color-primario:#14131a;
$desktopFull: 1367px;