$fuente_principal: "Poppins", sans-serif;

$telefono: 390px;
$telefonom:414px;
$telefonoFull: 520px;
$tabletsmall:650px;
$tablet: 768px;
$tabletM: 900px;
$desktop: 1024px;

$color-card: #fff;
$color-primario:#14131a;
$desktopFull: 1367px;

$desktopfulhd: 1500px;
$TV: 1925px;