.canales{
    width: 100%;
    margin-top: 14rem;
 
    &__titulo{
        padding-bottom: 3rem;
        text-align: center;
    }
    &__flex{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 3rem;
        column-gap: 3rem;
    }
    &__figure{
        width: 16rem;
        max-height: 15rem;
       
        border-radius: 1rem;
        cursor: pointer;
        object-fit: cover;
      
        &:hover{
            transform: scale(1.05);
        }
    }
    &__img{
        display: block;
        max-width: 100%;
        aspect-ratio: 4/3;
        object-fit: cover;
        border-radius: 0.5rem;
    }
}
.canales__Video{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 4rem auto 32rem;
}