@use "../global/mixin" as m;
.hero{
    width: 100%;
    margin-top: 8rem;
    height: 21rem;
    @include m.tablet {
        height: 40rem;
    }
    @include m.desktop {
        height: 44rem;
    }
    @include m.desktopFull {
        height: 52rem;
    }
}

.generos{
    margin-top: 2rem;
    margin-bottom: -10rem;
}
.portada{
    width: 100%;
    // object-position: 0px 21rem;
     object-fit: cover; 
     height: 100%;
     @include m.desktop {
        max-width: 100%;
        object-fit: cover; 
        object-position: 0px 0rem;
    }
    @include m.desktopFull {
        object-fit: cover; 
        object-position: 0px 20rem;
    }
    }
  