@use "../Global/mixin" as m;

.navegacion {
  width: 100%;
  padding: 0 3.5rem;
  height: 7.8rem;
  background-color: #131218;
  // background-color: #07092B;
 
  display: flex;
  top: 0;
  align-items: center;
  position: fixed;
  z-index: 300;


  @include m.tabletM {
       .lista {
      
      position: static;
      display: flex;
    }
    &__icono {
      opacity: 0;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;
    
    @include m.tabletM {
    
     order: 0;
    
    
    }
    
  }
  &__contenedor {
    width: 100%;
    z-index: 1;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include m.tabletM {
      display: flex;
      justify-content: space-between;
    
    }
   
  }
  &__logo {
    width: fit-content;
 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    
    @include m.tabletM {
      display: block;
    
     }
   
    @include m.desktop {
      flex: 1;
      display: flex;
      justify-content: flex-start;  
    
    }
  }
  &__img {
    width: 15rem;
    cursor: pointer;
    @include m.tabletM {
      max-width: 15rem;
    }
  }
  &__label {
    cursor: pointer;
    
    @include m.tabletM {
      display: none;
    }
  }

  &__input {
    display: none;

    &:checked + .lista {
      display: block;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__menu-close {
    display: none;
  }
  &__icono {
    cursor: pointer;
    color: white;
  }
  &__logueo{

    display: flex;
    margin-left: 24%;
   
    @include m.telefonoFull {
      margin-left: 48.5%;
     
     
    }
    @include m.tabletsmall {
      margin-left: 57%;
     
    }
   
    @include m.tablet {
     
      margin-left: 59%;
    
      
      // gap: 10rem;
    
    }
    @include m.tabletM {
      height: inherit;
      margin: unset;
      justify-content: flex-end;
      align-items: center;
      gap: 2.1rem;
      // flex: 1;
    

    }
    @include m.desktop {
      margin-left: 0;
      flex: 1;
    }
  }
  &__boton{
    height: 50%;
    cursor: pointer;
   
    display: none;  
    background-color: white;
    @include m.tablet {
      display: none;
    }
    @include m.tabletM {
         
      display: block; 
      width: 13.5rem;  
     
    }
    @include m.desktop {

      display: block;
      text-align: center;
      word-wrap: normal;
      border: none;
      padding:1rem 2rem;
      border-radius: .5rem;
     
    }
  }
}
.busqueda-label{
  max-width: min-content;
}

.navegacion__perfil{
  @include m.tablet {
    display: none;
  }
  @include m.tabletM {
    height: 5.9rem;
  width: 5.9rem;
  border-radius: 50%;
  border: none;
  background-image: url(/ImagenesAvatares/Screenshot_1-topaz-enhance-4x.webp);
  background-size: cover;
  cursor: pointer;
  display: none;
    &:hover{
      transform: scale(1.04);
    }

  
  
  }
  
}
.lista {
  position: fixed;
  height: auto;
  top: 8rem;
  left: 0;
  list-style: none;
  width: 100%;
  margin-top: -0.4rem;
  background-color: #131218;
  display: none;

  @include m.tabletM {
    display: block;
  
  }

  &__item {
    display: inline-block;
    height: fit-content;
    display: flex;
    align-items: center;
    color: #ffffff;
    padding: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include m.tablet {
      padding: 0;
    }
  }
  &__link {
    display: inline-block;
    // width: fit-content;
    padding: 1rem;
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  &__link--pading {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
  }

  &__drop {
    display: none;
    width: 100%;
    list-style: none;
    padding: 1rem;
    background-color: #131218;
    color: #000000;
    // display: none;
    opacity: 0;
    animation: opacity 0.5s forwards;
  }

  &__item--desplegable {
    position: relative;
    display: flex;
    flex-direction: column;
    // height: max-content;
    // padding: unset;

    @include m.tablet {
      display: block;
      &:hover .lista__drop {
        position: absolute !important;
        display: flex !important;
        flex-direction: column;

        top: 100%;
        min-width: 18rem;
        padding: 0;
        z-index: 4;

        // @include m.tablet {
        //   position: absolute;
        //   transition: opacity 10s;
        // }
      }
    }
  }

  &__li {
    align-content: center;
    height: min-content;
    padding: 2rem 0;
    @include m.tablet {
      padding: 1.2rem;
      &:last-child {
        padding: 1.2rem;
      }
    }
  }
  &__subdrop {
    display: block;
    display: flex;
    height: auto;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    // background-color: #131218;
  }

  &__img {
    max-width: 32px;
    height: 32px;
    object-fit: cover;
    display: block;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
