@use "../Global/variables" as v;
@use "../global/mixin" as m;

.section {
  width: 100%;
  min-height: fit-content;
  padding: 0 2rem;
  margin-top: 1rem;
  background-color: transparent;
  padding-bottom: 2rem;
  opacity: 0.97;
  
 &__contenedor{
  width: 100%;
  min-height: fit-content;

 }
  &__titulo {
    color: white;
    text-align: center;
    padding: 4rem 0;
    font-size: 3.9rem;
  }

  &__grid {
    display: grid;
  width: 100%;
  min-height: fit-content;
  grid-template-columns: repeat(auto-fit, minmax(28rem, min-content));
  gap: 3.8rem;
  place-content: center;
  place-items: center;
   @include m.desktopFull {
    width: 100%;
      grid-template-columns: repeat(auto-fit, minmax(28.5rem, min-content));
   }    
   &__grid{
    display: flex;
    flex-direction: column;
  }
@supports (display: grid) {
  &__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }
}
   
  }

  &__contenedor {
    text-decoration: none;
  }
}

.card {
  max-width: 30rem;
  height: 37rem;
  background-color: #050e11;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  padding: 1.5rem 1rem;
  border-radius: 1rem;
  color: #fff;
  text-wrap: balance;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  box-shadow: 0px 0px 5px rgba(19, 16, 32, 0.726);
  // box-shadow: -4px -2px 16px 0px #050e11,
  // 4px 2px 12px 0px rgba(95, 156, 231, 0.103), 0px 0px 18px 10px #00000000,
  // inset 5px 5px 20px rgba(0, 0, 0, 0.042),
  // inset -5px -5px 20px #050e11;
  transition: transform 0.3s ease-out;
  position: relative;
  border: 0.1rem solid rgba(255, 255, 255, 0.706);
  cursor: pointer;
  &:hover {
    transform: scale(1.02);
  }
  &::before {
    content: var(--contentcardbefore);
    position: absolute;
    width: 7.8rem;
    height: 2.1rem;
    background-color: #ffffff;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -5rem;
    top: 5.5rem;
    color: #000;
    transform: rotate(270deg);
    
   
  }
  &__contenedorTitulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0.4rem;
    margin-bottom: 1rem;
  }
 
  &__titulo {
    display: inline-block;
    font-size: 1.8rem;
    text-align: center;
  }
  &__img {
    mask-image: linear-gradient(#af1b60 98%, transparent);
    display: block;
    border-radius: 0.5rem;
    width: 95%;
    margin: 0 auto;
    aspect-ratio: 16/9;
    object-fit: cover;
    filter: contrast(115%);
  }

  // &__textos {
  //   height: 130px;
  // }
  &__iconos {
    display: flex;
    gap: 1rem;
    padding: 1.4rem 0 0.3rem 0;
  }
  &__textos {
    width: 100%;
    height: 8rem;
    overflow: hidden;
    position: relative;
    padding-top: 0.9rem;
    &::before{
      
        content: "";
        display: block;
        position: absolute;
        top: 0;
        border-radius: 0.1rem;
        width: 100%;
        height: 0.1rem;
        background: #dde4e6;
        background: linear-gradient(
          90deg,
          rgba(201, 197, 193, 0.26),
          rgb(255, 255, 255) 16%,
          rgb(255, 255, 255) 85%,
          rgba(201, 197, 193, 0.233) 100%
        );
        z-index: 99;
      
    }
  }
  &__parrafo {
    width: 100%;
  font-size: 1.4rem;
  word-break: keep-all;
  text-align: center;
  font-family: "Poppins", sans-serif;
  text-wrap: pretty;
  line-height: 1.7;
  text-overflow: clip;
    
   
  }

  &__botones {
    width: 100%;
    width: fit-content;
    display: flex;
    
    gap: 3rem;
  }
}


.btn__icono {
  display: block;
  max-width: 20px;
}
