@use '../global/globales' as g;
@use '../global/mixin' as m;
.Genero-categorias{
    // padding-top: 3rem ;
    display: flex;
    justify-content: center;
    &__contenedor {        max-width: 172rem;
        margin: 2rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap; /* Permite que los elementos se ajusten en múltiples filas si es necesario */
         gap: 1.5rem;
        @include m.desktopFullHD {
            justify-content: space-between;
            gap: unset;
        }
       @include m.TV {
        width: 90%;
        flex-wrap: nowrap;
        gap: 2rem;
       }
    }
    &__figura {
       
        background-color: #2A2C38;
        width: 15rem; /* Ancho fijo */
        height: 11rem; /* Altura fija */
        border-radius: 1rem;
        position: relative;
        background-image: var(--image-categorias);
     
        // filter: grayscale(100%);
        transition: background-image .5s;
        object-fit: contain;
        flex: 0 0 auto; /* No permitir que los elementos se encojan o crezcan */
        // outline: .1rem solid rgb(115, 114, 114);
        cursor: pointer;
        user-select: none;
        outline: none; /* Elimina el borde de enfoque */
    -webkit-tap-highlight-color: transparent; 
        @include m.desktop {
            width: 14rem;
            height: 10.5rem;
            gap: 1rem;
        }
        @include m.desktopFullHD {
            width: 20rem;
            height: 15rem;
            flex-grow: 1;
            margin: 0.7rem;
        }
        &:hover{
            filter: unset;
            transform: scale(1.02);
        //    filter: contrast(120%) saturate(150%);
        }
        
    }
    &__figura:nth-child(1){
       
        background-size: 26.8rem;
        background-repeat: no-repeat;
      
        @include m.TV {
            background-size: auto;
        }
        &:hover {
            --image-categorias: url("../../imagenCategoria/extrenos.webp");
           
        }
    }
    &__figura:nth-child(5){
       
        &:hover {
          
            --image-categorias: url("../../imagenCategoria/animacionpeliculas.webp");
            
        }
    }
    &__figura:nth-child(2){
       
        background-size: 26.8rem;
        background-repeat: no-repeat;
        @include m.TV {
            background-size: auto;
        }
        &:hover {
          
           
            --image-categorias: url("../../imagenCategoria/accion.webp");
          
   
        }
    }
    &__figura:nth-child(3){
       
        
           
        background-size: 26.8rem;
        background-repeat: no-repeat;
        @include m.TV {
            background-size: auto;
        }
        &:hover {
            --image-categorias: url("../../imagenCategoria/cienciaficcion.jpg");
         
        }
    }
    &__figura:nth-child(4){
      
          
        background-size: 26.8rem;
        background-repeat: no-repeat;
        @include m.TV {
            background-size: auto;
        }
        &:hover {
            --image-categorias: url("../../imagenCategoria/animes.webp");;
           
        }
    }
      
    &__figura:nth-child(6){
        
        background-size: 28.8rem;
        background-repeat: no-repeat;
        @include m.TV {
            background-size: auto;
        }
        &:hover {
          
            --image-categorias: url("../../imagenCategoria/terror.webp");
           
        
        }
    }
    &__figura:nth-child(7){
      
          
        background-size: 32.8rem;
        background-repeat: no-repeat;
        @include m.TV {
            background-size: auto;
        }
        &:hover {
            --image-categorias: url("../../imagenCategoria/comedias.webp");
          
         
        }
    }
    &__figura:nth-child(8){
      
        background-size: 30.8rem;
        background-repeat: no-repeat;
        @include m.TV {
            background-size: auto;
        }
        &:hover {
          
            --image-categorias: url("../../imagenCategoria/romance.webp");
           
         
        }
    }
    &__nombre{
        color: white;
         text-align: center; 
         height:fit-content;
        position: absolute;
        border-radius: 1rem;
        text-wrap: balance;
        font-size: 1.4rem;
        inset: 0;
        margin: auto auto;
        text-shadow: 0px 0px 5px blue;
        
        }
    
}






