@use '../global/mixin' as m;
.Peliculas{
    margin-top: 6rem;
    margin-bottom: 5rem;
    height: auto;
    color: white;
    @include m.tablet {
        height: auto;
    }
    &__contenedor{
        width: 98%;
      
        @include m.tablet {
            width: 90%;
            max-width: 120rem;
        }
        @include m.desktopFull {
            max-width: 184rem;
        }
    }
    &__grid{
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10.5rem, 1fr));
       
        place-content: center;
        row-gap: 2.3rem;
         column-gap: 0.9rem;
  

        @supports not (display: grid) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .Peliculas__card {
                width: calc(20% - 2rem);
                margin-bottom: 2rem;
            }
        }
        @include m.telefonoFull {
          
               grid-template-columns: repeat(auto-fit, minmax(16rem, min-content));
               column-gap: 2rem;
               row-gap: 2.2rem;
            

            @supports not (display: grid) {
                .Peliculas__card {
                   width: calc(25% - 1.5rem); 
                   margin-right: 1.5rem; 
                   margin-bottom: 2rem; 
               }
           }
       }
       @include m.tablet {
       
           grid-template-columns: repeat(auto-fit, minmax(20rem, min-content));
           column-gap: 2rem;
           row-gap: 2.2rem;
        

        @supports not (display: grid) {
            .Peliculas__card {
               width: calc(25% - 1.5rem); 
               margin-right: 1.5rem; 
               margin-bottom: 2rem; 
           }
       }
   }
        @include m.tabletM {
            
                grid-template-columns: repeat(auto-fit, minmax(16.8rem, min-content));
                column-gap: 2rem;
                row-gap: 2.2rem;
             

             @supports not (display: grid) {
                 .Peliculas__card {
                    width: calc(25% - 1.5rem); 
                    margin-right: 1.5rem; 
                    margin-bottom: 2rem; 
                }
            }
        }
    @include m.desktop {
      
            grid-template-columns: repeat(auto-fit, minmax(21.8rem, 1fr));
            column-gap: 2rem;
            row-gap: 3rem;
         

         @supports not (display: grid) {
             .Peliculas__card {
                width: calc(25% - 1.5rem); 
                margin-right: 1.5rem; 
                margin-bottom: 2rem; 
            }
        } 
    }
    @include m.desktopFull {
      
            grid-template-columns: repeat(auto-fit, minmax(22.1rem, min-content));
            column-gap: 2rem;
            row-gap: 3rem;
         

         @supports not (display: grid) {
             .Peliculas__card {
                width: calc(25% - 1.5rem); 
                margin-right: 1.5rem; 
                margin-bottom: 2rem; 
            }
        } 
    }
        
    }
    &__card{
        width: 100%;
        height: 24rem;
        border-radius: 1rem;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        cursor: pointer;
        user-select: none;
        outline: none; /* Elimina el borde de enfoque */
         -webkit-tap-highlight-color: transparent; 
        
        animation: opacitys 1.2s forwards alternate;
        aspect-ratio: auto;
        transition: display .6s,opacity 1s;
        transition-behavior :allow-discrete;
   
        display: block;
        opacity: 1;
        @include m.tablet {
            width: 100%;
            height: auto;
            
        }
      
        
    }
    &__figure{      

        width: 100%;
        object-fit: cover;
        border-radius: 1rem;
        overflow: hidden;
        aspect-ratio: 9/16;
       
        @include m.tabletM {
           
            max-height: 34.6rem;
           
        }
        @include m.desktop {
            width: 100%;
            height: 100%;
            aspect-ratio: unset;
           
          
        }
        @include m.desktopFull {
            flex: 5;
            padding-bottom: 1rem;
        }
     
        &:hover{
            transform: scale(1.05);
        }
    }
    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
        box-shadow: 0rem 0rem 1rem rgb(56, 52, 52);
      
      
        
    }
    &__nombre{
        height: 4rem;
        font-size: 1.2rem;
        text-wrap: pretty;
        font-weight: 400;
        text-align: center;
   
        @include m.tablet {
            font-size: 1.4rem;
        }
        @include m.desktop {
            
            font-size: 1.8rem;
        }
        @include m.desktopFull {
            flex: 1;
        }
    }
    &__btn-vermas{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding:5rem 0;
       
    }
}
.DetallePrograma__ConVideo{
    width: 95%;
    aspect-ratio: 16/9;
    max-width: 120rem;
    margin: 0 auto
}
.videovivo-contenedor{
    width: 100%;
    max-width: 120rem;
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
     align-items: center;

     
   
}
#my-video{
    width: 100%;
    max-width: 80rem;
    height: fit-content;
    aspect-ratio: 16/9;
    position: absolute;
    background-color: red;
    
  
}
#fullscreenBtn{
    display: block;
    margin: 3.2rem auto 0rem auto;
    border: none;
    padding: 1rem 2rem;
    border-radius: 0.8rem;
    background-color: #ffffff;

    color: rgba(42, 42, 43, 0.788);
    cursor: pointer;
    &:hover{
        transform: scale(1.05);
    }
}

.modal{
width: 100%;
height: 100%;
position: fixed;
inset: 0;
margin: auto;
background: #2E8A7B;
opacity: .6;
backdrop-filter: blur(2rem);
z-index: 99;
}

// .modal-content{
    
//     width: 30rem;
//     height: 25rem;
//     background-color: white;
  
//     inset: 0;
//     margin: auto;
// }
@keyframes opacitys {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
