@use '../global/mixin' as m;
.Peliculas{
    margin-top: 12rem;
    margin-bottom: 5rem;
    &__contenedor{
        @include m.desktopFull {
            max-width: 184rem;
        }
    }
    &__grid{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(16.5rem,min-content));
        grid-template-rows: repeat(22rem);
        place-content: center;
        row-gap: 2.2rem;
        column-gap: 2.2rem;
  
        @supports (display: grid) {
            grid-template-columns: repeat(auto-fit, minmax(16.5rem, min-content));
        }

        @supports not (display: grid) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .Peliculas__card {
                width: calc(20% - 2rem);
                margin-bottom: 2rem;
            }
        }

        @include m.tablet {
            @supports (display: grid) {
                grid-template-columns: repeat(auto-fit, minmax(22rem, min-content));
            }

            @supports not (display: grid) {
                .Peliculas__card {
                    width: calc(25% - 1.5rem); /* Calculamos el ancho para 4 tarjetas */
                    margin-right: 1.5rem; /* Espacio entre las tarjetas */
                    margin-bottom: 2rem; /* Espacio entre filas de tarjetas */
                }
            }
        }
    }
    &__card{
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        @include m.tablet {
            width: 100%;
            
        }
      
        
    }
    &__figure{
        width: 100%;
        object-fit: 9/16;
        border-radius: 1rem;
        overflow: hidden;
        padding-bottom: 1.5rem;
        object-fit: cover;
        flex: 5;
        @include m.desktop {
            max-height: 34.6rem;
        }
        &:hover{
            transform: scale(1.05);
        }
    }
    &__img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: 9/16;
        border-radius: 1rem;
        box-shadow: 0rem 0rem 1rem rgb(56, 52, 52);
      
        object-fit: cover;
        
    }
    &__nombre{
        flex: 1;
        text-align: center;
    }
}
.videovivo-contenedor{
    width: 90%;
    max-width: 120rem;
    height: auto;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
     align-items: center;
   
}
#my-video{
    width: 90%;
    max-width: 80rem;
    height: fit-content;
    aspect-ratio: 16/9;
    position: absolute;
    
  
}
#fullscreenBtn{
    display: block;
    margin: 0rem auto 0rem auto;
    border: none;
    padding: 1rem 2rem;
    border-radius: 0.8rem;
    background-color: #2E8A7B;

    color: white;
    cursor: pointer;
    &:hover{
        transform: scale(1.05);
    }
}

.modal{
width: 100%;
height: 100%;
position: fixed;
inset: 0;
margin: auto;
background: #2E8A7B;
opacity: .6;
backdrop-filter: blur(2rem);
z-index: 99;
}
// .modal-content{
    
//     width: 30rem;
//     height: 25rem;
//     background-color: white;
  
//     inset: 0;
//     margin: auto;
// }
