@use './../global/mixin' as m;

.buscar-pelicula{
    width: 100%;
    height: auto;
    height: 12.5dvh;
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 500;
    display: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    @include m.tablet {
        height: auto;
        height: 20dvh;
    }
    @include m.tabletM {
        height: auto;
    background-color: transparent;
    margin: unset;
    padding: unset;
    position: static;
    align-content: center;
    width: 15rem;
    max-width: 19.5rem;
    display: flex;
    flex-grow: 1;
   
       
    }
    @include m.desktopFull {
       
    max-width: 23rem; 
    }
    &--active{
       display: block; 
    }
   
    .buscar{
        width: 100%;
        height: auto;
        padding: 2rem;
        display: flex;
        gap: 2rem;
        position: relative;
        @include m.tabletM {
            padding: 0;
        }
       
        &__input{
            width: 100%;
            padding: 1.5rem 1rem;
            border-radius: 1.5rem;
            border: none;
            outline: .1rem  solid grey;
            box-shadow: 5px 5px 20px #d8e6fd, -5px -5px 30px rgba(255, 255, 255, 0.705);
            @include m.tabletM {
                box-shadow: none;
                
            }
            @include m.desktop {
                background-color: transparent;
                outline: .1rem solid rgb(84, 81, 81);
                color: rgb(198, 190, 190);
                border-radius: .5rem;
            }
            
        }
        &__btn{
            width: max-content;
            padding: 1.2rem 4rem;
            border-radius: 1rem;
            border: none;
            background-color: blue;
            color: white;
            cursor: pointer;
            user-select: none;
            @include m.tabletM {
                display: none;
            }
        }
        
      
    }
 
   
  
}
.busqueda-label{
    width: 50%;
    
    padding: 0 1.5rem;
        @include m.tablet {
        width: 35%; 
        padding: unset;
        background-color: transparent;
    }
    @include m.desktop {
        width: 72%;
    }
    
}

.icono-busqueda{
    display: block;
    width: 2.1rem;
    cursor: pointer;
    margin-left: auto;
    align-content: center;
    margin-top: -.2rem; 
}

.busqueda__close{
    position: absolute;
    top: -1.7rem;
    right: 0;
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    @include m.tabletM {
        display: none;
    }
}