@use "../global/mixin" as m;
@use "../global/variables" as v;
.busqueda{
    width: 100%;
    height: fit-content;
    margin-top: 13rem;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  
    &__texto{
        font-size: 2.2rem;
        padding-bottom: 3.5rem;
        color: #45F4D3;
        font-weight: 600;
        @include m.tablet {
            font-size: 3.2rem;
        }
    }
   &__principal{
   
    width: 90%;
    max-width: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    
   
   }
   &__contenedor{
    max-width: 10px;

   }
  &__img{
    
    width: 5.5rem;
    @include m.tablet {
        width: 7.5rem;
    }
  }
    &__contenedor{
        display: flex;
        width: 100%;
        max-width: 80%;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        background-color: aliceblue;
        padding: 0.5rem;
        border-radius: 1.8rem;
      
        @include m.tablet {
            width: 100%;
             max-width: 82%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

        }
        @include m.tabletM {
             max-width: 90%;
        }

    }
    &__item{
        display: block;
        width: 100%;
        padding: 0rem;
        border-radius: 1rem;
        outline: none;
        border: none;
        background-color: transparent;
        font-size: larger;
        overflow: hidden;
        display: flex;
        align-items: center;
        font-family: v.$fuente_principal;
        @include m.tablet {
            flex: 1;
            padding: 1rem;
        }

    }
    &__btn{
        width: 20rem;
        height: 4rem;
        color: black;
        background-color: rgb(79, 250, 193);
        color: rgb(22, 18, 18);
        border: none;
        border-radius: 0.8rem;
        padding: 1rem;
        border-radius: 0.8em;
        display: flex;
        gap: 1.5rem;
        align-items: center;
        font-size: large;
        cursor: pointer;



    }


}

.icon_buscar{
    width: 1.5rem;
    order: -1;
}