@use "../global/mixin" as m;
.paginacion{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 0rem;
    .paginas{
        display: flex;
        justify-content: center;
        gap: 0.6rem;
      
        &__btn{
            border: unset;
            padding: 1rem 1.2rem;
            border-radius: 0.5rem; 
            cursor: pointer;
            margin: 0px 0.5rem;
            background-color: #1c1f24;
            border-radius: 3px;
            box-shadow: 
            10px 10px 20px #151418,  /* Sombra interna oscura */
            -10px -10px 20px #272630; /* Resaltado */
            // box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288); 
            font-size: 18px;
            text-decoration: none;
            color: #4d3252;
            color: white;
            height: 40px;
            width: 50px;
            display: block;
            z-index: 1;

           &:hover{
            box-shadow: 0 0 3rem rgba(255, 255, 255, 0.149);
           } 
           
        }
    }
}

.active{
    background-color: #101014!important;
}
